{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h1>Списки вариантов ответа</h1>
            <p><a href="/choice-list/create/" class="btn btn-secondary">Создать новый список вариантов ответа</a></p>
            <table id="choice-list-list" class="table table-hover table-sm">
                <thead class="thead-dark">
                    <th>Название</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                {% for i in items %}
                <tr {% if i.has_undef_numeric_values %}class="table-danger"{% endif %}>
                    <td>{{ i.name }}</td>
                    <td class="technical-links"><a href="/choice-list-details/{{ i.id }}/">Параметры</a></td>
                    <td class="technical-links"><a href="/choice-list-update/{{ i.id }}/">Переименовать</a></td>
                    <td class="technical-links"><a href="/choice-list-delete/{{ i.id }}/">Удалить</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}