{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h1>Новости разработки системы</h1>
            <table id="choice-list-list" class="table table-hover table-sm">
                <thead class="thead-dark">
                    <th>Дата</th>
                    <th>Текст</th>
                </thead>
                <tbody>
				<tr>
                    <td>03.01.2020</td>
                    <td>Исправлено сохранение нового варианта ответа (теперь сохраняется без ошибки)</td>
                </tr>
				<tr>
                    <td>03.01.2020</td>
                    <td>Исправлено удаление вопроса без подтверждения. Теперь система запрашивает подтверждение удаления вопроса</td>
                </tr>
                <tr>
                    <td>03.01.2020</td>
                    <td>Перевели интерфейс на русский язык</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}