{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h1>Новости разработки системы</h1>
            <table id="choice-list-list" class="table table-hover table-sm">
                <thead class="thead-dark">
                    <th>Дата</th>
                    <th>Текст</th>
                </thead>
                <tbody>
					<tr>
						<td>12.02.2020</td>
						<td>Добавлена страница с краткой инструкцией по использованию системы</td>
					</tr>
					<tr>
						<td>12.02.2020</td>
						<td>Добавлена возможность редактировать порядок вопросов внутри опроса</td>
					</tr>
					<tr>
						<td>04.01.2020</td>
						<td>Изменены шрифты на страницах с вопросами, с которыми работает респондент (уменьшены шрифты надписей с названием опроса и почтой респондента). Страницы приветствия и завершения без изменений. </td>
					</tr>
					<tr>
						<td>04.01.2020</td>
						<td>Сделана группировка вопросов (сейчас максимум 3 уровня, но можно увеличить). Можно посмотреть на странице "<a href="{% url 'polls:question-list' %}">Вопросы</a>" (верхняя таблица - это список групп, у каждой группы есть своя страница, на которой выводятся только те вопросы, которые входят в эту группу и в дочерние группы)</td>
					</tr>
					<tr>
						<td>04.01.2020</td>
						<td>Сделан удобный ввод дат (см. карточку ввода/редактирования для респондентов [дата рождения] и опросов [дата создания])</td>
					</tr>
					<tr>
						<td>04.01.2020</td>
						<td>Для опросов добавлен атрибут "Дата создания"</td>
					</tr>
					<tr>
						<td>03.01.2020</td>
						<td>Исправлено сохранение нового варианта ответа (теперь сохраняется без ошибки)</td>
					</tr>
					<tr>
						<td>03.01.2020</td>
						<td>Исправлено удаление вопроса без подтверждения. Теперь система запрашивает подтверждение удаления вопроса</td>
					</tr>
					<tr>
						<td>03.01.2020</td>
						<td>Перевели интерфейс на русский язык</td>
					</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}