{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h1>Questions</h1>
            <p><a href="/question/create/" class="btn btn-secondary">Create New</a></p>
            <table id="choice-list-list" class="table table-hover table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                {% for i in items %}
                <tr class="parent">
                    <td>{{ i.name }}</td>
                    <td>{{ i.data_type_name }}</td>
                    <td class="technical-links"><a href="/question-details/{{ i.id }}/">Details</a></td>
                    <td class="technical-links"><a href="/question-update/{{ i.id }}/">Edit</a></td>
                    <td class="technical-links">{% if i.can_delete %}<a href="/question-delete/{{ i.id }}/">Delete</a>{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
$('table').filterTable({
    containerClass: "form-group",
    containerTag: "div",
    inputType: "text",
    label: "Применить фильтр: "
});
</script>
{% endblock %}