{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">

    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>Вопрос: <b>{{ object.name }}</b></h1>
            <blockquote class="blockquote">{{ object.text }}</blockquote>
            <p><a href="/question-update/{{ object.id }}" class="btn btn-secondary">Редактировать вопрос</a></p>
        </div>
        <div class="col-md-12" style="padding: 0px;">
            <h2>Параметры вопроса</h2>
            <table class="table table-hover">
                <tr>
                    <th style="padding: 1px;">Номер записи</th>
                    <td style="padding: 1px;text-align: right;">{{ object.id }}</td>
                </tr>
                <tr>
                    <th style="padding: 1px;">Название</th>
                    <td style="padding: 1px;text-align: right;">{{ object.name }}</td>
                </tr>
                <!--tr>
                    <th style="padding: 1px;">Text</th>
                    <td style="padding: 1px;text-align: right;"><blockquote class="blockquote">{{ object.text }}</blockquote></td>
                </tr-->
                <tr>
                    <th style="padding: 1px;">Тип</th>
                    <td style="padding: 1px;text-align: right;">{{ object.data_type_name }}</td>
                </tr>

                {% if object.data_type == object.SSMC or object.data_type == object.MSMC %}
                <!--tr>
                    <th style="padding: 1px;">Choice List</th>
                    <td style="padding: 1px;text-align: right;">
                        <a href="/choice-list-details/{{ object.choice_list.id }}/">{{ object.choice_list }}</a>
                    </td>
                </tr-->
                {% endif %}
                {% if object.data_type == object.NUMBER_RANGE %}
                <tr>
                    <th style="padding: 1px;">Нижняя граница диапазона</th>
                    <td style="padding: 1px;text-align: right;">{{ object.range_min }}</td>
                </tr>
                <tr>
                    <th style="padding: 1px;">Верхняя граница диапазона</th>
                    <td style="padding: 1px;text-align: right;">{{ object.range_max }}</td>
                </tr>
                <tr>
                    <th style="padding: 1px;">Шаг</th>
                    <td style="padding: 1px;text-align: right;">{{ object.range_step }}</td>
                </tr>
                {% endif %}
            </table>

        </div>
    </div>

    {% if object.data_type == object.SSMC or object.data_type == object.MSMC %}
    {% if object.choice_list %}
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Варианты ответа (Список вариантов <b><a href="/choice-list-details/{{ object.choice_list.id }}/">{{ object.choice_list }}</a></b>)</h2>
            {% if object.choice_list.choices.all %}
            <ul class="list-group">
                {% for i in object.choice_list.choices.all %}
                <li class="list-group-item">{% if object.data_type == object.SSMC %}<input type="radio">{% endif %}{% if object.data_type == object.MSMC %}<input type="checkbox">{% endif %} {{ i.name }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <p><a href="/question-update/{{ object.id }}/choice-list" class="btn btn-secondary">Установить другой список вариантов ответов</a></p>
        </div>
    </div>
    {% else %}
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <p><a href="/question-update/{{ object.id }}/choice-list" class="btn btn-secondary">Установить список вариантов ответов</a></p>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if object.data_type == object.NUMBER_RANGE %}
    {% if object.range_params_not_null %}
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <input type="range" class="custom-range" id="demo_range" min="{{ object.range_min }}" max="{{ object.range_max }}" step="{{ object.range_step }}" oninput="range_demo_value.value = demo_range.value">
        </div>
        <div class="col-md-12" style="padding: 0px;">
            <p class="text-center"><output name="range_demo_output" id="range_demo_value"></output></p>
        </div>
    </div>
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <p><a href="/question-update/{{ object.id }}/range" class="btn btn-secondary">Редактировать параметры диапазона</a></p>
        </div>
    </div>
    {% else %}
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <p><a href="/question-update/{{ object.id }}/range" class="btn btn-secondary">Установить параметры диапазона</a></p>
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% if object.surveys.all %}
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Опросы, в которых используется данный вопрос</h2>
            <table id="map-survey-question-list" class="table table-hover table-bordered table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
                    <tr>
                        <th>Название опроса</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in object.surveys.all %}
                <tr>
                    <td>{{ i.survey.name }}</td>
                    <td class="technical-links"><a href="/survey-details/{{ i.survey.id }}/">Перейти на страницу опроса</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

	{% if object.answers.all %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Собранные ответы на данный вопрос</h2>
            <table id="survey-answers-list" class="table table-hover table-bordered table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
					<tr>
						<th style="width: 25%">Person</th>
						<th style="width: 25%">Survey</th>
						<th style="width: 50%">Answer</th>
					</tr>
				</thead>
                <tbody>
                {% for i in object.answers.all %}
                <tr class="parent">
                    <td>{{ i.survey_instance.person }}</td>
                    <td>{{ i.survey_instance.survey }}</td>
                    <td>{{ i.data }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}
	
</div>
{% endblock %}