{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>Удаление вопроса из базы</h1>
            <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <p>Вы уверены, что хотите удалить вопрос <b>{{ object }}</b>?</p>
				<input type="submit" value="Удалить">
            </form>
        </div>
    </div>
	<br>
</div>
{% endblock %}