{% extends 'polls/base_mini.html' %}
{% load humanize %}
{% block content %}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6" style="padding: 0px;">
            <h1 class="text-center"><u>{{ object.survey.name }}</u></h1>
            <p class="text-center"><b>{{ object.person.email }}</b></p>
            <p class="text-center">{{ q_current.question.text }}</p>
			
			<form method="post">
            {% csrf_token %}
				<div class="form-group">
					{% if q_current.question.data_type == q_current.question.SSMC or q_current.question.data_type == q_current.question.MSMC %}
					<ul class="list-group">
					{% for checkbox in form.data %}
						<li class="list-group-item">
						<label for="{{checkbox.id_for_label}}">{{ checkbox.tag }} {{ checkbox.choice_label }}</label>
						</li>
					{% endfor %}
					</ul>
					{% endif %}
					{% if q_current.question.data_type == q_current.question.NUMBER_RANGE %}
					<div class="col-md-12" style="padding: 0px;">
						<input type="range" class="custom-range" id="demo_range" min="{{ q_current.question.range_min }}" max="{{ q_current.question.range_max }}" step="{{ q_current.question.range_step }}" oninput="range_demo_value.value = demo_range.value">
					</div>
					<div class="col-md-12" style="padding: 0px;">
						<p class="text-center"><output name="range_demo_output" id="range_demo_value"></output></p>
					</div>
					{% endif %}
					{% if q_current.question.data_type == q_current.question.TEXT %}
					<div class="col-md-12" style="padding: 0px;">
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
					</div>
					{% endif %}
					{% if q_current.question.data_type == q_current.question.NUMBER %}
					<div class="col-md-12" style="padding: 0px;">
						<input type="number" class="form-control" id="exampleInputNumber">
					</div>
					{% endif %}
				</div>
				<div class="row justify-content-center">
					{% if not next_q %}
					<input class="btn btn-primary" type="submit" value="ЗАВЕРШИТЬ">
					{% else %}
					<input class="btn btn-primary" type="submit" value="ДАЛЕЕ">
					{% endif %}
				</div>
			</form>
        </div>
    </div>

</div>
{% endblock %}