{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>Delete Person from Survey</h1>
            <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
				<input type="submit" value="Confirm">
            </form>
        </div>
    </div>
	{% if object.answers.all %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Answers WILL BE DELETED:</h2>
            <table id="survey-answers-list" class="table table-hover table-bordered table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
					<tr>
						<th style="width: 25%">Survey</th>
						<th style="width: 25%">Question</th>
						<th style="width: 25%">Person</th>
						<th style="width: 50%">Answer</th>
					</tr>
				</thead>
                <tbody>
                {% for i in object.answers.all %}
                <tr class="parent">
                    <td>{{ i.survey_instance.survey }}</td>
                    <td>{{ i.question }}</td>
					<td>{{ i.survey_instance.person }}</td>
                    <td>{{ i.data }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}
</div>
{% endblock %}