{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">

    <!--div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>Опрос <u>{{ object.name }}</u></h1>
            <p>{{ object.description }}</p>
        </div>
    </div-->

    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Создать опросный лист<br>(назначить респонденту прохождение опроса <b>{{ object.name }}</b>)</h2>
                <form method="post">
                    {% csrf_token %}
					<table class="table table-bordered table-condensed table-hover" style="font-size: 1.0em">
                    {{ form.as_table }}
					</table>
                    <input class="btn btn-secondary" type="submit" value="Создать" />
                </form>

        </div>
    </div>

</div>
{% endblock %}