{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>Удалить опрос</h1>
            <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
                <p>Вы уверены, что хотите удалить опрос <b>{{ object }}</b>?</p>
				<input type="submit" value="Удалить">
            </form>
        </div>
    </div>
	{% if object.persons.all %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h2>Также будут удалены следующие опросные листы:</h1>
            <table id="map-survey-person-list" class="table table-hover table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
                    <th>Email</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Секретный код</th>
                    <th>Время открытия</th>
                    <th>Время начала</th>
                    <th>Время завершения</th>
                </thead>
                <tbody>
                {% for i in object.persons.all %}
                <tr class="parent">
                    <td>{{ i.person.email }}</td>
                    <td>{{ i.person.name_first }}</td>
                    <td>{{ i.person.name_last }}</td>
                    <td>{{ i.random_letters }}</td>
                    <td>{{ i.time_visit|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ i.time_start|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ i.time_end|date:"d.m.Y H:i:s" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}
	{% if object.answers.all %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Также будут удалены следующие ответы:</h2>
            <table id="survey-answers-list" class="table table-hover table-bordered table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
					<tr>
						<th style="width: 25%">Респондент</th>
						<th style="width: 25%">Вопрос</th>
						<th style="width: 50%">Ответ</th>
					</tr>
				</thead>
                <tbody>
                {% for i in object.answers.all %}
                <tr class="parent">
                    <td>{{ i.survey_instance.person }}</td>
                    <td>{{ i.question }}</td>
                    <td>{{ i.data }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}
</div>
{% endblock %}