{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">

    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h1>[Survey] <u>{{ object.name }}</u></h1>
            <blockquote class="blockquote">{{ object.description }}</blockquote>
            <p><a href="/survey-update/{{ object.id }}" class="btn btn-secondary">Edit</a></p>
        </div>
        <!--
        <div class="col-md-4" style="padding: 0px;">
            <h2>Choice List Parameters</h2>
            <table class="table table-hover">
                <tr>
                    <th style="padding: 1px;">ID</th>
                    <td style="padding: 1px;text-align: right;">{{ object.id }}</td>
                </tr>
                <tr>
                    <th style="padding: 1px;">Name</th>
                    <td style="padding: 1px;text-align: right;">{{ object.name }}</td>
                </tr>
            </table>

        </div>
        -->
    </div>
	
	{% if object.errors %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
			<h2>Errors</h2>
			<ul class="list-group">
				{% for e in object.errors %}
				<li class="list-group-item list-group-item-danger">{{e|safe}}</li>
				{% endfor %}
			</ul>
        </div>
    </div>
	{% endif %}

    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Questions</h2>
            <p><a href="#" class="btn btn-secondary" role="button" onclick="toggle_visibility('add-question-form');">Add Question</a></p>
            <div class="alert alert-warning" id="add-question-form" style="display: none;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-secondary" type="submit" value="Add" />
                </form>
            </div>
            {% if object.questions.all %}
            <table id="map-survey-question-list" class="table table-hover table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
                    <th>Sort Order</th>
                    <th>Name</th>
                    <th>Conditional</th>
					<th>Type</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                {% for i in object.questions.all %}
                <tr class="parent">
                    <td>{{ i.sort_order }} ({{ i.id }})</td>
                    <td>{{ i.question.name }}{%if not i.is_mandatory %} <b>[не обязательный]</b>{% endif %}</td>
                    <td>{% if i.has_condition %}<b>Yes</b>{% else %}No{% endif %}</td>
					<td>{{ i.question.data_type }}</td>
                    <td class="technical-links"><a href="/survey-question/{{ i.id }}/">Details</a></td>
                    <td class="technical-links"><a href="/survey-question-delete/{{ i.id }}/">Delete from Survey</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>


    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Persons Assigned</h2>
            <p><a href="/survey-update/{{ object.id }}/add-person" class="btn btn-secondary">Add Person</a></p>
            {% if object.persons.all %}
            <table id="map-survey-person-list" class="table table-hover table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
                    <th>Email</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Secret Code</th>
                    <th>Visited</th>
                    <th>Started</th>
                    <th>Finished</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                {% for i in object.persons.all %}
                <tr class="parent">
                    <td>{{ i.person.email }}</td>
                    <td>{{ i.person.name_first }}</td>
                    <td>{{ i.person.name_last }}</td>
                    <td>{{ i.random_letters }}</td>
                    <td>{{ i.time_visit|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ i.time_start|date:"d.m.Y H:i:s" }}</td>
                    <td>{{ i.time_end|date:"d.m.Y H:i:s" }}</td>
                    <td><a href="/survey/{{ i.id }}/{{ i.random_letters }}/">Link</a></td>
                    <td class="technical-links"><a href="/survey-person-delete/{{ i.id }}/">Delete</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
	
	{% if object.answers.all %}
	<div class="row align-items-start">
        <div class="col-md-12" style="padding: 0px;">
            <h2>Answers</h2>
			<p><a href="/survey-details/{{ object.id }}/export-answers/" class="btn btn-success">Export to XLSX</a></p>
            <table id="survey-answers-list" class="table table-hover table-bordered table-sm" style="font-size: 0.8em;">
                <thead class="thead-dark">
					<tr>
						<th style="width: 20%">Person</th>
						<th style="width: 20%">Question</th>
						<th style="width: 45%">Answer</th>
						<th style="width: 15%">Answer (Numeric)</th>
					</tr>
				</thead>
                <tbody>
                {% for i in object.answers.all %}
                <tr class="parent">
                    <td>{{ i.survey_instance.person }}</td>
                    <td>{{ i.question }}</td>
                    <td>{{ i.data }}</td>
					<td>{{ i.data_num }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
	{% endif %}


</div>
{% endblock %}