{% extends 'polls/base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12" style="padding: 0;">
            <h1><b>Инструкция</b></h1>
            <h2>Как создать опрос</h2>
			<p>1. Заходим в <b>справочник опросов</b> (пункт "Опросы" в меню наверху)</p>
			<p>2. Нажимаем на кнопку "Создать новый опрос"</p>
			<p>3. Вводим название опроса и текст приветствия. Нажимаем сохранить.</p>
			<p>Опрос создан, но он пустой (т.е. в нем нет ни одного вопроса)</p>
			
			<h2>Как заполнить опрос вопросами</h2>
			<p>1. Заходим в <b>справочник опросов</b> (пункт "Опросы" в меню наверху)</p>
			<p>2. В списке опросов выбираем нужный. Идем по ссылке "Параметры опроса".</p>
			<p>3. На странице опроса нажимаем на кнопку "Добавить вопрос". Появляется желтая форма.</p>
			<p>4. В выпадающем списке выбираем тот вопрос, который хотим добавить. Нажимаем кнопку "Добавить"</p>
			<p>ВНИМАНИЕ: добавить можно только тот вопрос, который уже существует в базе (в <b>справочнике вопросов</b> - пункт "Вопросы" в меню наверху)</p>
			
			<h2>Как создавать новые вопросы</h2>
			<p>1. Заходим в <b>справочник вопросов</b> (пункт "Вопросы" в меню наверху)</p>
			<p>2. Нажимаем на кнопку "Создать новый вопрос"</p>
			<p>3. Заполняем форму:</p>
			<p>
				<ul>
					<li><b>Группа</b>: заполнять не обязательно. Если нужно отнести вопрос к какой-то группе, то эту группу нужно сначала создать (Заходим в справочник вопросов - пункт "Вопросы" в меню наверху - кнопка "Создать новую группу вопросов"). Группы вопросов нужны только для удобства администратора опросов. Респонденты их не видят.</li>
					<li><b>Название вопроса</b>: рабочее название вопроса, не для респондентов.</li>
					<li><b>Текст вопроса</b>: формулировка вопроса для респондентов</li>
					<li><b>Тип вопроса</b>: <b>Single Select</b> - выбора одного варианта ответа из нескольких. <b>Multi Select</b> - выбор одного или нескольких вариантов ответа. <b>Numeric Range</b> - выбор числа из заданного диапазона. Выглядит как бегунок. <b>Number</b> - респондент должен ввести число. <b>Text</b> - свободный ответ.</li>
				</ul>
			</p>
			<p>4. Если тип вопроса это <b>Single Select</b> или <b>Multi Select</b>, то для вопроса необходимо выбрать соответствующий ему <b>список вариантов ответа</b>. Для этого: Заходим в <b>справочник вопросов</b> (пункт "Вопросы" в меню наверху). Находим наш вопрос, проходим по ссылке "Параметры" (попадаем на страницу вопроса). Нажимаем на кнопку "Установить список вариантов ответа". Выбираем нужный список, нажимаем кнопку "Сохранить".</p>
			<p>ВНИМАНИЕ: мы можем выбрать только тот список вариантов ответа, который уже существует в базе (в <b>справочнике списков вариантов ответа</b> - пункт "Списки вариантов ответов" в меню наверху)</p>
			
			<h2>Как создавать списки вариантов ответа</h2>
			<p>1. Заходим в <b>справочник списков вариантов ответа</b> (пункт "Списки вариантов ответов" в меню наверху)</p>
			<p>2. Нажимаем на кнопку "Создать новый список вариантов ответа"</p>
			<p>3. Вводим название списка, сохраняем.</p>
			<p>4. После сохранения мы оказываемся на странице нового списка. Теперь нужно ввести сами варианты.</p>
			<p>5. Нажимаем на кнопку "Добавить вариант". Появляется желтая форма. Заполняем текст варианта и его численный код. Сохраняем.</p>
			
			<h2>Как создать опросный лист (назначить респонденту прохождение опроса)</h2>
			<p>1. Заходим в <b>справочник опросов</b> (пункт "Опросы" в меню наверху)</p>
			<p>2. В списке опросов выбираем нужный. Идем по ссылке "Параметры опроса".</p>
			<p>3. На странице опроса нажимаем на кнопку "Добавить опросный лист (назначить респонденту прохождение опроса)". Открывается форма. Выбираем респондента, сохраняем.</p>
			<p>ВНИМАНИЕ: мы можем выбрать только того респондента, который уже существует в базе (в <b>справочнике респондентов</b> - пункт "Респонденты" в меню наверху)</p>
			
			<h2>Как создать респондента</h2>
			<p>1. Заходим в <b>справочник респондентов</b> (пункт "Респонденты" в меню наверху)</p>
			<p>2. Нажимаем на кнопку "Ввести нового респондента"</p>
			<p>3. Заполняем форму, сохраняем.</p>
        </div>
    </div>
</div>
{% endblock %}